@model mvc3.viewmodels.userviewmodel
@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<partial name="~/Views/User/PartialViews/DetailsDeletePartial.cshtml" model="Model"></partial>

<div class="mt-3">
    <a asp-action="edit" asp-route-id="@Model.id" class="btn btn-info">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>

